@keyframes goAway {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  20% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(-60px);
    opacity: 0;
  }
}

div.message {
  position: absolute;
  bottom: 20px;
  right: 10px;
  max-width: 200px;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  animation: goAway 3.5s ease-in-out forwards;
  &.error {
    background-color: tomato;
  }
  &.success {
    background-color: rgb(53, 207, 207);
  }
}
