extends base

block content
    div.editProfile_container
        img(src= loggedInUser.avatarUrl ? "/" + loggedInUser.avatarUrl : "/uploads/user.jpeg")
        form(method="POST", enctype="multipart/form-data", autocomplete="off")
            label.file_label(for="avatar") Choose Avatar Photo... 
            input.public_input_file(type="file", id="avatar", name="avatar", accept="image/*")
            label.public_label(for="name") Name 
            input.public_input(id="name",placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
            label.public_label(for="email") Email 
            input.public_input(id="email",placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
            label.public_label(for="username") Username 
            input.public_input(id="username",placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
            label.public_label(for="location") Location 
            input.public_input(id="location",placeholder="Location", name="location", type="text", required, value=loggedInUser.location)
            input.submit(type="submit", value="Update Profile")
            if !loggedInUser.socialOnly
                a(href="change-password").changePassword Change Password 