extends base.pug
include components/video

block content
    each video in videos
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
    else
        li Sorry nothing found.