extends base.pug
include components/video

block content
    div.home_container
        each video in videos
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
        else
            li Sorry nothing found.