extends base.pug

block content
    div.editProfile_container
        if errorMessage
            span.errorMessage=errorMessage  
        form(method="POST", autocomplete="off")
            label.public_label(for="username") Username
            input.public_input(id="username",placeholder="Username", name="username", type="text", required)
            label.public_label(for="password") Password
            input.public_input(id="password",placeholder="Password", name="password", type="password", required)
            input.submit(type="submit", value="Login")  
            hr
            a(href="/users/github/start").github_container  
                i.fab.fa-github
                span Continue with Github