extends base.pug

block content
    div.editProfile_container
        //- div.recoder_btn_container
        //-     video.recoder_preview
        //-     button.recoder_btn Recoder 
        form(method="POST", enctype="multipart/form-data",autocomplete="off")
            label.file_label(for="video") Video File
            input.public_input_file(type="file", accept="video/*", required, id="video", name="video")
            label.file_label(for="thumbnail") Thumbnail File
            input.public_input_file(type="file", accept="image/*", required, id="thumbnail", name="thumbnail")
            label.public_label(for="title") Title
            input.public_input(id="title",placeholder="Title", required, type="text", name="title", maxlength=80)
            label.public_label(for="description") Description
            input.public_input(id="description",placeholder="Description", required, type="text", name="description" minlength=20)
            label.public_label(for="hashtags") Hashtags
            input.public_input(id="hashtags",placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags")
            input.submit(type="submit", value="Upload Video")
        if errorMessage
            span.errorMessage=errorMessage
        //- block scripts
        //-     script(src="/static/js/recoder.js") 