header 
    div.youtube-logo 
        a(href="/").fab.fa-youtube 
            span Youtube
    div.search_container
        form(action="/search", method="get")
            input(type="text", placeholder="Search")
            button(type="submit")
                i.fas.fa-search 
    nav
        ul 
            if loggedIn
                li
                    a(href="/users/logout")  Log Out
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/videos/upload") Upload
                li.my_profile 
                    a(href=`/users/${loggedInUser._id}`) 
                        img(src=`/${loggedInUser.avatarUrl ? loggedInUser.avatarUrl : "uploads/user.jpeg"}`)
            else
                li
                    a(href="/join") Join
                li
                    a(href="/login") Login