mixin video(video)
    div.video_container
        a(href=`/videos/${video.id}`)
            img(src=video.thumbnail).thumbnail
            div.title #{video.title}
            div.views #{video.meta.views} views
            